/*
  In this file global styles for base html elements are defined.
*/

:root {
  font-family: system-ui;
  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "Source Sans Pro",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
}

h1 {
  font-size: 1.6em;
  line-height: 32px;
  font-weight: 600;
}